html, body {
    background: #fbfbfb;
}

/* HEADER */
.header-container {
    position: fixed;
    left: 50%;
    display: flex;
    width: 550px;
    margin: 40px auto;
    margin-left: -275px;
}
.header-text {
    padding: 30px;
    font-size: 2em;
    font-weight: 600;
    font-family: "Comic Sans MS", cursive, sans-serif; /* This is for you Casper */
}
.coffee-img {
    height: 6em;
}

/* CONTENT */
.content-container {
    display: flex;
    position: absolute;
    top: 200px;
}
.day-container {
    display: block;
    width: 200px;
    padding: 1em;
}
.day-container.active {
    border: solid 2px darkgreen;
}
.day-header {
    margin: 1em 0;
    font-size: 1.2em;
    font-family: "Comic Sans MS", cursive, sans-serif; /* This is for you Casper */
}
.group-container {
    margin-top 10px
    padding 0.5em;
    /*border: solid 1px gray;*/
}
.group {
    margin: 1em 0;
}
.person {
    margin: 0.4em 0.7em;
    margin-right: 0;
}
.person:first-child {
    margin-left: 0.2em;
    font-weight: bold;
}





