<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

<!--Header-->
<header class="header-container">
    <span class="header-text">N1 kaffepause kalender</span>
    <img class="coffee-img" src="static/images/animated-coffee-cup-transparant.png">
</header>

<div class="content-container">
    {% for day in schedule -%}
    <div class="day-container">
        <span class="day-header">{{ day.day_name_dk }} {{ day.ISO }}</span>
        <div class="group-container">
            <div class="group">
                <p class="person">Martin Raunkjær Andersen</p>
                <p class="person">Martin Raunkjær Andersen</p>
                <p class="person">Martin Raunkjær Andersen</p>
            </div>
            <div class="group">
                <p class="person">Martin Raunkjær Andersen</p>
                <p class="person">Martin Raunkjær Andersen Ekstra langt navn</p>
                <p class="person">Martin Raunkjær Andersen</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>



</body>
</html>