<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>N1 Kaffepause Kalender</title>

    <script src="static/libs/jquery-3.5.1.min.js"></script>

    <link rel="stylesheet" href="static/css/styles.css">
    <script src="static/js/script.js"></script>
</head>
<body>

<!--Header-->
<header class="header-container">
    <span class="header-text">N1 Kaffepause Kalender</span>
    <img class="coffee-img" src="static/images/animated-coffee-cup-transparant.png">
</header>

<div class="content-container">
    {% for day in schedule -%}
    <div data-date-iso="{{day.ISO}}" class="day-container">
        <span class="day-header">{{ day.day_name_dk }} {{ day.date_dk }}</span>
        <div class="group-container">
            {% for group in day.groups -%}
            <div class="group">
                {% for person in group -%}
                <p class="person">{{ person.name }}</p>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

</body>
</html>
